{% load i18n %}
{% load static %}
{% load mptt_tags %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title%}{% endblock%}</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <nav class="header__nav">
                <ul class="header__menu">
                    {% recursetree categories %}
                        <li class="menu__item">
                            {{ node.name }}
                            {% if not node.is_leaf_node %}
                                <ul class="menu__children-list">
                                    {{ children }}
                                </ul>
                            {% endif %}
                        </li>
                    {% endrecursetree %}
                    </ul>
            </nav>
            
            <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}">
                <select name="language">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                    {{ language.name_local }} ({{ language.code }})
                </option>
                    {% endfor %}
                </select>
                <input type="submit" value="Go">
            </form>
        </header>
        <main class="main">
            {% block content %}
            {% endblock %}
        </main>
        <footer class="footer">Test 2023</footer>
    </div>
</body>
</html>