:root{
    --main-color: #fff;
    --secondary-color: #60b4df;
    --black: #000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

body{
    min-height: 100vh;
    font-family: "Ubuntu", sans-serif;
}

.wrapper{
    max-width: 1440px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.header{
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 0 40px;
}

.header__nav{
    width: 500px;
    height: 100%;
}


.header__menu{
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.menu__item{
    color: var(--black);
    position: relative;
    width: 140px;
    height: 50px;
    transition: all ease 300ms;
    z-index: 2;
}

.menu__item:hover > .menu__children-list{
    transform: translate(0,0);
    opacity: 1;
    pointer-events: auto;
}









.menu__item > a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    transition: all ease 300ms;
    font-weight: 700;
    position: relative;
    z-index: 10;
}


.menu__item > a > i{
    margin-left: 10px;
}

.menu__children-list{
    position: absolute;
    top: 100%;
    z-index: 10;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: 300ms;
}

.menu__children-list .menu__item{
    width: 160px;
    background-color: var(--main-color);
}


.menu__children-list > .menu__item i{
    transform: rotate(-90deg);
}

.menu__children-list a{
    justify-content: start;
    color: var(--secondary-color);
    padding-left: 20px;
}

.menu__children-list .menu__item:hover > a{
    background-color: var(--secondary-color);
    color: var(--main-color);
}


.menu__children-list  .menu__children-list{
    top: 0;
    left: 100%;
    padding-left: 10px;
    cursor: pointer;
    transform: translateX(10px);
}


.menu__children-list .arrow{
    position: absolute;
    width: 11px;
    height: 11px;
    top: -5.5px;
    left: 32px;
    background-color: var(--main-color);
    transform: rotate(45deg);
    cursor: pointer;
    transition: all ease 300ms;
}

.menu__children-list .menu__item:first-child:hover ~ .arrow{
    background-color: var(--secondary-color);
}

.menu__children-list  .menu__children-list .arrow{
    top: 10px;
    left: 5.3px;
}

.header__leanguage-switch {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-color);
    width: 200px;
    padding: 7px 14px;
    cursor: pointer;
    border-radius: 5px;
    color: var(--secondary-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .322);
}

.header__leanguage-switch .arrow{
    font-size: 16px;
    transition: all ease 300ms;
    transform: rotate(0);
}

.header__leanguage-switch .arrow._active{
    transform: rotate(180deg);
}


.language-switch__language {
    display: flex;
    align-items: center;
}
.language-switch__language-name {
    color: var(--secondary-color);
    font-weight: 700;
    transition: ease all 300ms;
}

.language-switch__available-laguages{
    background-color: var(--main-color);
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    border-radius: 5px;
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .322);
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    max-height: 250px;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: all ease 300ms;
}

.language-switch__available-laguages._show{
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
}

.language-switch__available-laguages .language-switch__language-name{
    width: 100%;
    padding: 7px 14px;
}

.language-switch__available-laguages .language-switch__language-name:hover{
    background-color: var(--secondary-color);
    color: var(--main-color);
}

.main{
    flex: 1;
    background: url(../img/bg-image.jpg) no-repeat top center / cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__title{
    color: var(--main-color);
    font-size: 60px;
    z-index: 2;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(56, 165, 238, .5);
    z-index: 1;
}


.footer{
    min-height: 50px;
    background-color: var(--secondary-color);
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
}